.desc-text {
    padding: 0;
    margin: 0 0;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    color: #000000;
}


@media screen and (min-width: 767px) {
    
    .desc-text {
        font-size: 12px;
        line-height: 18px;
    }
}

@media screen and (min-width: 1279px) {

    .desc-text {
        font-size: 14px;
        line-height: 20px;
    }

}