.section-title {
    display: flex;
    padding: 0 0 28px 0;
    margin: 70px 0 0 0;
    border-bottom: 1px black solid;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.04em;
    color: #000000;
}


@media screen and (min-width: 767px) {
    
    .section-title {
        padding: 0 0 23px 0;
        margin: 90px 0 0 0;
        font-size: 22px;
        line-height: 27px;
    }
}

@media screen and (min-width: 1279px) {

    .section-title {
        padding: 0 0 23px 0;
        margin: 100px 0 0 0;
        font-size: 22px;
        line-height: 27px;
    }

}