.popup {
    display: none;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, .5);
    align-items: center;
    justify-content: center;
    transition: visibility 0.3s, opacity 0.3s ease-in-out;
    cursor: pointer;
}

.popup_opened {
    display: flex;
    transition: visibility 0.3s, opacity 0.3s linear;
    opacity: 1;
    visibility: visible; 
}

.popup__container {
    min-width: 282px;
    max-height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    justify-content: center;
    margin: auto 10px;
}

.popup__close-btn {
    display: flex;
    position: absolute;
    border: 0;
    outline: 0;
    transition: 0.3s ease-in-out opacity;
    z-index: 2;
    cursor: pointer;
    padding: 0;
    width: calc(20px + (32 - 20) * ((100vw - 320px) / (768 - 320)));
    height: calc(20px + (32 - 20) * ((100vw - 320px) / (768 - 320)));
    right: calc(0px + (0 - 40) * ((100vw - 320px) / (768 - 320)));
    top: -37px;
    background: transparent;
}

.popup__close-icon {
    width: 100%;
    height: 100%;
}

.popup__close-btn:hover {
    opacity: 0.6;
}

@media screen and (min-width: 767px) {
    .popup__container {
        max-width: 430px;
    }

    .popup__close-btn {
        width: 32px;
        height: 32px;
        right: -40px;
        top: -40px;
    }
}
