.saved-movies {
    display: block;
    align-items: center;
    margin: 0;
    padding: 0;   
    overflow-x: hidden; 
    text-align: center;
    height: 100vh;
}

@media screen and (min-width: 767px) {

}

@media screen and (min-width: 1279px) {
    .saved-movies {
        width: 1280px;
        margin: 0 auto;
    }
}